@use '@/styles/helpers/buttons' as b;

.Button {
  @include b.button();
}

.Icon {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  animation: spin 1s infinite linear;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
