@use '@/styles/variables/colours' as c;
@use '@/styles/helpers/links' as l;

.Navigation {
  display: flex;
}

.Link {
  @include l.link-common();
  color: #fff;
  padding: 1rem;
  display: block;
  position: relative;
  align-content: center;
  transition: background-color 0.3s ease;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: transparent;
    transition: background-color 0.5s ease;
  }
  &:hover {
    background-color: c.$blue-black;
  }
  &:focus {
    background: c.$blue-black;
    border: none;
    color: #fff;
    text-decoration: none;
  }
  &:focus-visible {
    outline: 3px solid c.$hr-focus-outline;
    outline-offset: -2px;
  }
}

.LinkActive {
  background: c.$hr-page-bg;
  color: #000;
  text-decoration: none;
  &:after {
    height: 4px;
    background-color: c.$hr-brand-accent;
  }
  &:hover {
    background-color: c.$hr-page-bg;
  }
  &:focus {
    background: c.$hr-page-bg;
    color: #000;
  }
}

.Icon {
  width: 1.2rem;
  height: 1.2rem;
}
