@use "@/app/ui/scss/settings/all" as s;
@use "@/app/ui/scss/helpers/all" as h;

.task {
  border-radius: 4px;
  background: #fff;
  padding: 1rem;
  margin-bottom: 10px;
  border: 1px solid #cfd0d5;
  border-left: 5px solid s.$blueDark;
  box-shadow: rgba(50, 50, 93, 0.15) 0 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.description {
  font-size: 0.875rem;
  margin: 0.25rem 0 0.5rem;
}

.task-todo {
  border-left-color: s.$red;
}

.task-doing {
  border-left-color: s.$blue;
}

.task-done {
  border-left-color: s.$green;
}

.spacer {
  margin: .7rem 0 .5rem;
  padding: 0;
  border: none;
  border-top: 1px solid #dfdfdf;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: transparent;
  color: #000;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 0.875rem;
  &:hover {
    text-decoration-thickness: 2px;
  }
}

.vh {
   @include h.vh
}
