@use '@/styles/variables/colours' as c;
@use '@/styles/variables/typography' as t;
@use '@/styles/helpers/links' as l;

.Collapsible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #e4e4e4;
}

.Icon {
  width: 0.75rem;
  height: 0.75rem;
  transition: transform 150ms ease-out;
}

.Trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0.75rem 1rem;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: t.$hr-font-weight-bold;

  @media (hover: hover) {
    &:hover {
    }
  }

  &:active {
  }

  &:focus-visible {
    outline: 2px solid c.$hr-brand-accent;
  }

  &[data-panel-open] .Icon {
    transform: rotate(90deg);
  }
}

.Panel {
  display: flex;
  height: var(--collapsible-panel-height);
  flex-direction: column;
  overflow: hidden;
  transition: all 150ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}
