@use "ui/scss/settings/colours" as c;
@use "ui/scss/helpers/links" as l;

.content {
  .lead {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    word-spacing: -0.1em;
    line-height: 1.1;
  }
}

.homepage {
  height: calc(100dvh - 140px);
  background: c.$greyDark;
  main, footer {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  p {
    margin: 1rem 0;
    line-height: 1.4;
    max-width: 600px;
  }
}

.mainWrap {
  background: c.$page-bg;
}

.homepage {
  footer {
    color: #ccc;
    font-size: 0.875em;
    p {
      margin-bottom: 1em;
    }
    a {
      color: white;
      text-decoration: underline;
      @include l.link-common
    }
    ul {
      padding-left: 1rem;
      margin-bottom: 1em;
      li {
        margin-right: 1em;
      }
    }
  }
}

