@import "../../scss/settings/colours";

.button {
  border: 2px solid rgba(0, 0, 0, 0);
  background: $blueDark;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  margin: 0;
  line-height: 1;
  border-radius: 100px;
  padding: .7rem 1rem .8rem;
  box-shadow: 0px -2px 0px 0px #002d18 inset, 0px 4px 4px 0px rgba(0, 0, 0, .25);
}