$blue-darkest: #283848;
$blue-dark: #314b65;
$blue-mid: #4c6f91;
$blue-light: #98b1ca;
$blue-lightest: #e0ebf7;

$grey-dark: #4a4a4a;
$grey-light: #f2f2f2;

$yellow: #f2c94c;

$hr-page-bg: $grey-light;
$hr-header-bg: $blue-darkest;

$hr-brand-accent: #3373b0;
$hr-focus-outline: $yellow;
