$red: #b75a42;
$coral: #e39682;
$blue: #4f6794;
$blueDark: #35363b;
$green: #49834c;
$greyLight: #e3e3e1;
$greyDark: #0b0c0c;

// Applied

$page-bg: $greyLight;
$font-color: $blueDark;
$focus-color: $coral;

$status-todo: $red;
$status-doing: $blue;
$status-done: $green;
